div {
    /* padding-top: 2px; */
    /* padding-bottom: 5px; */

    padding-right: 32px;
    padding-left: 32px;
}
#answer {
    margin: 1cm 1cm 1cm 1cm;
}
.center {
    position: center;
    margin: auto;
    /* width: 50%; */
    border: 3px solid green;
    padding: 10px;
}
#diagram{
    padding-top: 2px;
    /*width: 100%; height: 2px;*/
    /* width: 20%; */
    margin: 1cm 1cm 1cm 1cm
}

#diagWell{
    background-color:DodgerBlue;
}
#diagGood{
    background-color:Tomato;

}
#diagMid{
    background-color:rgb(68, 255, 30);

}
#diagBad{
    background-color:rgb(255, 30, 188);

}


*{
  margin:0;
  padding:0;
  font-family:tahoma;
  font-size:9pt;
  direction:rtl;
}
#wrapper{
  margin:10px auto;
  width:500px;
  text-align:center;
}
h3{
  color:#c00;
  text-align:center;
}
form{
  text-align:center;
  margin:10px auto;
  padding:10px;
  border:1px solid #DDD;
  width:450px;
}
label{
  text-align:left;
  vertical-align:top;
}
input,textarea{
  border:none;
  outline:none;
  padding:5px;
  border:1px solid #DDD;
  width:250px;
}
textarea{
  height:150px;
  width:300px;
}
input[type="submit"]{
  width:150px;
  border:1px solid #BBB;
}
p{
  margin-bottom:15px;
}
